.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../assets/reg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Ensures proper centering */
  }
  
  .login-card {
    padding: 30px;
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 10px;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px !important;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    margin-top: 10px;
    background-color: #7E5CAD !important;
    color: white !important;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .register-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .register-link {
    color: #7E5CAD;
    font-weight: bold;
    cursor: pointer;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }
  